


// GLOBLAL 

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: #000;
}



// HEADER

nav{
    a{
    color: #59a7d6 !important;
    }
}

video{
    
    width: 100%;
    z-index: -10;
}